* {
    font-family: 'Play', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  h1 {
    color: #39FF14;
  }

  p {
    line-height: 2rem;
  }

.text-shadow-light {
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5)
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.hide-logo {
    display: none;
}

.nav-wrapper {
    padding: 5px;
}

.brand-logo span {
    display: flex;
    align-items: center;
}

.tabs {
    display:flex;
    align-items: center;
    justify-content: center;
}

.brand-logo span img:first-of-type {
    height: 56px
}

nav .nav-wrapper .sidenav-trigger i {
    height: 32px;
    border: 1px solid white;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    padding: 6px 8px;
    border-radius: 3px;
    color: #39FF14;
    background-clip: padding-box;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.4);
}

.sidenav-header {
    height: 136px;
    padding: 21px;
    box-sizing: border-box;
}

.sidenav {
    border-left: 4px solid #39FF14;
}

.sidenav-header .sidenav-close {
    float: right;
    position: relative;
    border: 1px solid white;
    margin: 0 2px;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    padding: 6px 8px;
    border-radius: 3px;
    color: #39FF14;
    background-clip: padding-box;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.4);
}

.sidenav-logo {
    height: 94px;
    vertical-align: middle;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
}

.flashed h4 {
    line-height: 2;
}

.parallax-container {
    min-height: 500px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

.parallax-container .card-panel {
    background-color: rgba(0, 0, 0, 0.75);
}

.call-btns {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.call-btns .btn-large {
    background-color: black;
    color: white;
    border: 2px solid #39FF14;
}

.icon-block {
    padding: 0 15px;
}

.icon-block h2 {
    color: #39FF14;
}

form i {
    color: #39FF14;
}

button > .btn-large {
    line-height: 36px;
}

.btn-large span {
    margin-right: 10px;
}

.btn-large span,
.btn-large i {
    vertical-align: middle;
}

.input-field span {
    color: #9e9e9e;
}

.input-field input {
    color: white;
}

.input-field > label {
    color: white;
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default) {
    height: 2.5rem;
    margin: 8px 0;
    margin-left: 3rem;
}

.text-muted {
    color: #6c757d!important;
}

.carousel-title {
    font-weight: 500;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 35px;
}

.carousel-img {
    opacity: 0.85;
}

.carousel-img2 {
    border-radius: 50%;
}

.carousel .carousel-item > img {
    height: inherit;
    object-fit: contain;
}

.carousel-item p {
    color: #616161;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: calc(15px + (25 - 15) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
    background-color: transparent;
    padding: 5px 10px 56px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer .list-inline {
    margin: 0;
    padding: 0;
}

.social-link {
    font-size: 2.5rem;
    margin: 0 1rem;
    color: #39FF14;
    display: inline-block;
}

.social-link:hover {
    color: white;
}

footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}

@media only screen and (min-width: 601px) {
    #tablet-size-logo {
        height: 26px;
        margin: 19px 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
    .sidenav .show-on-small {
        display: none;    
    }

    .sidenav .show-on-medium {
        display: inline !important;
    }
}

@media only screen and (max-width: 600px) {
    .sidenav .show-on-medium {
        display: none;
    }

    .sidenav .show-on-small {
        display: inline !important;
    }
}

@media only screen and (min-width: 992px) {
    .brand-logo span img:first-of-type {
        height: 112px
    }
}