/*-- General */

* {
    font-family: 'Play', sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/*-- Text */

  h1,
  nav li>a:hover,
  nav .input-field label i,
  .tabs.tabs-transparent .tab a:hover,
  .icon-block h2,
  form i {
    color: #39FF14;
  }

  p {
    line-height: 2rem;
  }

.text-shadow-light {
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5)
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.input-field input,
.input-field > label {
    color: white;
}

.page-title {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));;   
}

/*-- Header containing Navigation */

.hide-logo {
    display: none;
}

.nav-wrapper {
    padding: 5px;
}

.brand-logo span {
    display: flex;
    align-items: center;
}

.tabs {
    display:flex;
    align-items: center;
    justify-content: center;
}

.brand-logo span img:first-of-type {
    height: 56px
}

nav .nav-wrapper .sidenav-trigger i {
    height: 32px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    padding: 6px 8px;
    border-radius: 3px;
    color: #39FF14;
    background-clip: padding-box;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.4);
}

.nav-extended.row {
    margin-bottom: 0;
}

.search-input {
    border: #DDDEBD solid 1px;
    border-radius: 5%;
    padding: 0 .25rem;
    margin: .5rem .25rem .25rem .25rem;
    color: #DDDEBD;
    font-size: 1.1rem;
}

.nav-wrapper .input-field input[type=search],
.sidenav .input-field input[type=search] {
    display: inline;
    height: 2.5rem;
    margin: 8px 0;
    margin-left: 3rem; 
}

.sidenav-header {
    height: 136px;
    padding: 21px;
    box-sizing: border-box;
}

.sidenav {
    border-left: 4px solid #39FF14;
}

.sidenav li>a {
    color: #000;
}

.sidenav li>a:hover {
    background-color: #39FF14;
}

.sidenav-header .sidenav-close {
    float: right;
    position: relative;
    border: 1px solid #fff;
    margin: 0 2px;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    padding: 6px 8px;
    border-radius: 3px;
    color: #39FF14;
    background-clip: padding-box;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.4);
}

.sidenav-logo {
    height: 94px;
    vertical-align: middle;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
}

.sidenav-search {
    background-color: #000;
}

/*-- Flashed Messages */

.flashes h4 {
    font-size: calc(18px + (25 - 18) * ((100vw - 300px) / (1600 - 300)));
    line-height: 2;
}

.row.flashes, .flashes h4 {
    margin: 0;
}

/*-- Parallax */

.parallax-container {
    min-height: 500px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

.parallax-container .card-panel {
    background-color: rgba(0, 0, 0, 0.75);
}

/* Call Buttons and Icons */

.btn {
    border-radius: 5px;
}

.btn-large {
    margin: 10px;
}

.call-btns {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.call-btns .btn-large {
    background-color: #000;
    color: #fff;
    border: 2px solid #39FF14;
}

.icon-block {
    padding: 0 15px;
}

button > .btn-large {
    line-height: 36px;
}

.btn-large span {
    margin-right: 10px;
}

.btn-large span,
.btn-large i {
    vertical-align: middle;
}

.btn-small {
    margin: 5px;
}

.btn-small, .edit-btn {
    border-radius: 5px;
    font-size: calc(10px + (11 - 10) * ((100vw - 300px) / (1600 - 300)));;
}

.account-btns {
    display: flex;
    flex-direction: column;
    justify-items: center;    
}

.account-btns a {
    background-color: #fff;
    margin: 15px 0;
}

.account-btns a:hover {
    background-color: #39FF14;
}

.edit-btns {
    display: grid;
    padding: 12px;
    grid-row-gap: 14px;
}

.login-btn, .register-button {
    width: 250px;
    height: 55px;
}

/*-- Inputs */

.input-field span {
    color: #9e9e9e;
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default) {
    height: 2.5rem;
    margin: 8px 0;
    margin-left: 3rem;
}

.text-muted {
    color: #6c757d!important;
}

/*-- Carousel */

.carousel-wrapper {
    height: 280px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 25px;   
}

.carousel {
    height: 360px;
    top: -80px;
}

.carousel-title {
    font-weight: 500;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 35px;
}

.carousel-image {
    border-radius: 50%;
    opacity: 0.85;
}

.carousel .carousel-item > img {
    height: inherit;
    object-fit: contain;
}

/*-- Cards */

.card-grid {
    display: grid;
    justify-content: center;
    grid-gap: .25em;
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    grid-auto-flow: row;
}

.gallery .card-action {
    padding: 7px;
}

.gallery .card-title {
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))); 
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;    
}

.card-image img {
    height: 360px;
    object-fit: cover;
}

.reviewed-by {
    margin-left: 30px;
    font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
}

.game-data {
   padding: 0 30px;
}

.review-txt {
    height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .card-content p {
    margin-top: 15px;
    margin-left: 30px;
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
}

.card-panel:not(.search-card, 
                .review-card, 
                .account-btns) {
    margin-top: 30px;
}

.genre-container a,
.platform-container a {
    font-size: calc(12px + (17 - 12) * ((100vw - 300px) / (1600 - 300)));;
    margin-top: 10px;  
}

.game-image img,
.platform-image img {
    object-fit: contain;
}

/*-- Modals */

.modal {
    top: 20% !important;
    border-radius: 6px;
    padding: 0 10px;
    max-width: 400px;
    text-transform: none;   
}
.edit-modal {
    height: 195px;
}

.modal .modal-content {
    padding: 24px 30px 0px 30px;
}

.modal-btns .btn {
    margin-right: 13px;  
}

/*-- Custom 404 & 500 */

.row .error h3, 
.row .error h4 {
    font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.card-panel.error {
    height: auto;
    margin-top: -370px;
}

.home-btn {
    border-radius: 5px;
    font-size: calc(10px + (11 - 10) * ((100vw - 300px) / (1600 - 300)));;
    margin-bottom: 25px;
}

/*-- Footer */

footer .list-inline {
    margin: 0;
    padding: 0;
}

footer .social-media-links li {
    display: inline;
}

.social-link {
    font-size: 2.5rem;
    margin: 0 1rem;
    color: #39FF14;
}

.social-link:hover {
    color: #fff;
}

footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}

/*-- Media Queries */

@media only screen and (min-width: 601px) {
    #tablet-size-logo {
        height: 26px;
        margin: 19px 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
    .sidenav .show-on-small {
        display: none;    
    }

    .sidenav .show-on-medium {
        display: inline !important;
    }
}

@media only screen and (max-width: 600px) {
    .sidenav .show-on-medium {
        display: none;
    }

    .sidenav .show-on-small {
        display: inline !important;
    }
}

@media only screen and (min-width: 993px) {
    .brand-logo span img:first-of-type {
        height: 112px
    }

    #game-gallery {
        width: 80%;
        max-width: 1200px;
    }
}

@media only screen and (min-width: 1201px) {
    #game-gallery {
        width: 75%;
        max-width: 1920px;
    }
}

@media only screen and (min-width:1461px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    
    .card-title {
        font-size: 18px;
    }

    .row.edit-btns {
        display: block;
        
    }

    .modal-btns .btn {
        margin-right: 42px;  
    }
}