{% extends "base.html" %}
{% block content %}
<section class="row">
    <div class="img-wrapper">
        <img class="hero-image" loading="lazy"
            src="{{ url_for('static', filename='images/background1.jpg') }}" alt="Collage of iconic video game characters" />
    </div>
    <div class="card-panel center-align col s12 error">
        <h3 class="text-shadow">500 - Internal server error</h3>
        <h4 class="text-shadow">There is a problem with the resource you are looking for, and it cannot be displayed</h4>
        <a href="{{ url_for('home') }}"
            class="btn-large text-shadow home-btn">
            Back to Home
        </a>             
    </div>
</section>
{% endblock %}