{% extends "base.html" %}
{% block content %}

    <h3 class="center-align page-title text-shadow">Add Review</h3>

    <div class="row card-panel black">
    <form class="col s12" method="POST" action="{{ url_for('add_review') }}">
        <!-- game selection -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix"></i>
                <select id="title" name="title" class="validate" required>
                    <option value="" disabled selected>Choose Game</option>
                    {% for game in games %}
                        <option value="{{ game.title }}">{{ game.title }}</option>
                    {% endfor %}
                </select>
                <label for="title">Game</label>
            </div>
        </div>
        <!-- platform selection -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-tv prefix"></i>
                <select id="platform" name="platform" class="validate" required>
                    <option value="" disabled selected>Choose Platform</option>
                    {% for platform in platforms %}
                        <option value="{{ platform.platform }}">{{ platform.platform }}</option>
                    {% endfor %}
                </select>
                <label for="platform">Platform</label>
            </div>
        </div>
        <!-- review -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pen-square prefix"></i>
                <textarea id="review" name="review" minlength="200" maxlength="2500"
                    class="materialize-textarea validate" required></textarea>
                <label for="review">Enter Review Text
                    <i class="fas fa-info-circle tooltipped"
                        data-position="top"
                        data-tooltip="Minimum 200 characters">
                    </i>
                </label>
            </div>
        </div>
        <!-- is completed toggle -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-clipboard-check prefix green-text text-darken-4"></i>
                    <label for="completed">Game Completed
                        <input type="checkbox" id="completed" name="completed">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <a class="btn-large red text-shadow waves-effect"
                    href="{{ url_for('get_reviews') }}">Cancel <i class="fas fa-times-circle"></i>
                </a>
                <button type="submit" class="btn-large green darken-1 text-shadow waves-effect">
                    Add Review <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
