{% extends "base.html" %}
{% block content %}
    
{% if session.user|lower == "admin2"|lower %}
    <div class="row">
        <div class="col offset-m3 offset-l4 center-align platform-container">
            <h3 class="center-align page-title text-shadow">Manage Platforms</h3>
            <a class="waves-effect btn" href="{{ url_for('add_platform') }}">
                Add Platform <i class="fas fa-plus"></i>
            </a>
        </div>   
    </div>
{% else %}
    <h3 class="center-align page-title text-shadow">Platforms</h3>
{% endif %}

<!-- Platform gallery -->
<section class="row">
    <div class="gallery container">
        <div class="row">
            {% for platform in platforms %}
                <div class="col s12 m6 l4 card-grid">
                    <div class="card text-shadow" id="{{ platform.platform_id }}" >
                        <div class="card-content">
                            <span class="card-title center-align"><a href="{{ url_for('find_platform', platform=platform.platform) }}">{{ platform.platform }}</a></span>
                            <div class="card-image platform-image waves-effect waves-block waves-light">
                                <img src="{{ platform.img_url }}" alt="Platform image" loading="lazy">
                            </div>
                        </div>
                        <div class="card-action center-align">
                            {% if session.user|lower == "admin2"|lower %}
                                <a data-target="delete{{ loop.index }}" class="btn-small red modal-trigger">Delete</a>
                                <a data-target="edit{{ loop.index }}" class="btn-small amber darken-3 modal-trigger">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--Edit Platform Modal-->
                <div id="edit{{ loop.index }}" class="modal edit-modal center-align">
                    <div class="modal-content">
                        <div class="row">
                            <form method="POST" action="{{ url_for('edit_platform', platform_id=platform._id) }}">
                                <div class="col s12">
                                    <input id="platform" name="platform" type="text" minlength="2"
                                        value="{{ platform.platform }}" maxlength="25" class="validate" required>
                                    <label for="platform">Platform Name</label>
                                </div>
                                <div class="input-field col s12">
                                        <input id="img_url" value="{{ platform.img_url }}" name="img_url" minlenght="7" type="url" class="validate" required>
                                        <label for="img_url">Enter Image's URL</label>
                                    </div>
                                <div class="modal-footer modal-btns">
                                    <button type="submit" class="btn">
                                        Save <i class="fas fa-save"></i>
                                    </button>
                                    <a class="waves-effect waves-grey btn modal-close" href="#">
                                        Cancel <i class="fas fa-times"></i>
                                    </a>                            
                                </div>                                   
                            </form>
                        </div>
                    </div>                        
                </div>
                <!--Delete Platform Modal-->
                <div id="delete{{ loop.index }}" class="modal center-align">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s12">
                                <h3 class="red-text flow-text">
                                    <strong>
                                        <i class="fas fa-exclamation-circle"></i>
                                        Warning: Once you delete a platform it cannot be restored!
                                    </strong>
                                </h3>
                                <h3 class="red-text flow-text">
                                    <strong>
                                        Are you sure you want to delete this platform?
                                    </strong>
                                </h3>
                            </div>                                
                        </div>
                    </div>
                    <div class="modal-footer modal-btns">
                        <a class="waves-effect btn modal-close" href="#">
                            Cancel <i class="fas fa-times"></i>
                        </a>
                        <a class="btn" href="{{ url_for('delete_platform', platform_id=platform._id) }}">
                            Delete <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}